.container-4 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    #container-4-sub {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #container-4-top {
            width: 60%;
            text-align: center;

            h1 {
                font-size: 22px;
                font-weight: 600;
                text-transform: uppercase;
                color: #000;
            }

            p {
                font-size: 12px;
                font-weight: 600;
                color: #000;
            }
        }

        #container-4-bottom {
            width: 100%;
            height: auto;
            padding: 20px;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 30px;

            .container-4-box {
                border-radius: 20px;
                height: 400px;
                position: relative;

                .container-4-box-content {
                    border-radius: 20px;
                    position: absolute;
                    bottom: 0%;
                    background: linear-gradient(180deg, rgba(145, 22, 25, 0.00) 0%, rgba(254, 0, 0, 0.00) 0.01%, rgba(145, 22, 25, 0.81) 38.33%, #911619 98.75%);
                    height: 0%;
                    width: 100%;
                    color: #fff;
                    text-align: center;
                    padding: 10px;
                    padding-top: 80px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    display: none;


                }

                &:hover {
                    .container-4-box-content {
                        height: 70%;
                        display: flex;

                        h1 {
                            font-size: 20px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }

                        p {
                            font-size: 12px;
                            font-weight: 300;
                        }

                        a {
                            width: 120px;
                            margin-top: 20px;
                            text-decoration: none;
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #fff;
                            color: #911619;
                            border-radius: 10px;

                            img {
                                margin-left: 10px;
                                width: 20px;
                            }
                        }
                    }
                }
            }

            #c4b-img-1 {
                background-image: url(./Images/rol1.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            #c4b-img-2 {
                background-image: url(./Images/rol2.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            #c4b-img-3 {
                background-image: url(./Images/rol3.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            #c4b-img-4 {
                background-image: url(./Images/rol4.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                box-shadow: inset;
            }
        }
    }
}

// Media Query
@media only screen and (max-width: 992px) {
    .container-4 {
        #container-4-sub {
            #container-4-top {
                width: 100%;
            }

            #container-4-bottom {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 30px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .container-4 {
        #container-4-sub {
            #container-4-bottom {
                .container-4-box {
                    height: 300px;

                    .container-4-box-content {
                        padding-top: 0%;
                        &:hover {

                            p{
                                font-size: 11px;
                            }
                            a {
                                width: 90px;
                                height: 30px;
                                margin-top: 10px;
                                padding: 7px;
                                font-size: 12px;

                                img {
                                    margin-left: 10px;
                                    width: 15px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .container-4 {
        #container-4-sub {

            #container-4-bottom {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 30px;
                .container-4-box {
                    height: 350px;
                }
            }
        }
    }
}